table{
    background-color: orange;
    width: 310px;
    border: none;
    margin: 50px auto;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

.heading{
    color: white;
    font-size: 30px;
    text-align: center;
}
#input, #answer{
    width: 260px;
    height: 50px;
    font-size: 210%;
    text-align: right;
    border: none;
}
#input{
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: green;
}
#answer{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;

}
input[type=button]{
    height:50px ;
    width: 50px;
    font-size: 130%;
    color:purple;
    background-color:white ;
    margin: 5px;
    border-radius:8px ;
    border: none;
}
input[type=button]:hover{
    height:50px ;
    width: 50px;
    font-size: 130%;
    color:purple;
    background-color:gray ;
    margin: 5px;
    border-radius:40px ;
    border: none;
}